@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
      
}
.text-gold{
  color: gold;
}
a{
  text-decoration: none;
  color: gold;
}
body{
  background-color: #14161a;
}
.banner{
  background-image: url(/src/components/Banner/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.bg-gold{
  background-color: gold;
}
/* .carousel{
  
} */